@model u20551101_HW03.Models.books

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagecount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagecount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authors.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authors.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.types.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.types.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
